<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page with Data Table</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Admin Panel</h1>
    </header>
    <main>
      <section class="table-container">
        <h2>User Data</h2>
        <% if (users != "") { %>
        <table>
          <thead>
            <tr>
              <th>S.No</th>
              <th>Username</th>
              <th>Email</th>
              <th>Password</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((user,index) => { %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= user.username %></td>
              <td><%= user.email %></td>
              <td><%= user.password %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% }else{ %>
        <h1>No User Found</h1>
        <%} %>
      </section>
    </main>
  </body>
</html>
